/* Estilo geral */
body {
    margin: 0;
    font-family: "Kadwa", Arial, sans-serif;
    color: #333;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    
  }
  
  .header {
    background-color: #0B1320;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .header .highlight {
    color: #00aaff;
  }
  
  .main-content {

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 120px 0;
  }
  
  .option-button {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 2px solid #00aaff;
    border-radius: 30px;
    padding: 15px 25px;
    margin: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 18px;
  }
  
  .option-button .icon {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .option-button:hover {
    background-color: #f0f8ff;
    transform: scale(1.05);
  }
  
  .footer {
    background-color: #0B1320;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto; /
  }
  
  .footer .highlight {
    color: #00aaff;
  }
  